# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Gradle
.gradle/
build/
!gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Android Studio
*.iml
.gradle
.idea/
.DS_Store
**/local.properties
**/captures/
**/externalProjectBuildClasspath/
**/.externalNativeBuild
**/android/app/src/main/assets/
**/android/app/src/main/res/drawable-*/
**/android/app/src/main/res/mipmap-*/
**/android/app/src/main/res/xml/

# Capacitor
**/android/.gradle/
**/android/capacitor-cordova-android-plugins/
**/android/app/build/
**/android/build/

# Allow gradlew
!**/android/gradlew
!**/android/gradlew.bat
!**/android/gradle/wrapper/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db
.DS_Store
